@mixin before-circle {
  &::before {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: $main-color;
    z-index: -1;
    top: -25%;
    left: 0px;
  }
}

@mixin appear-animation {
  animation: appear ease-in 0.75s;

  @keyframes appear {
    0% {
      opacity: 0.25;

    }
    100% {
      opacity: 1;
    }
  }
}