@import "src/assets/helpers/mixins";

.portfolio {


  .divider {
    margin: 0px;

  }

  &__icon {
    margin: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;

    :hover {
      fill: $main-color;
    }

    &.active {
      color: grey;
    }

  }

  &__wrapper {
    @include appear-animation;
    margin-top: 10px;
    display: grid;
    grid-template: repeat(2, 280px) / repeat(4, 280px);
    grid-auto-rows: 280px;
    gap: 5px;
    margin-bottom: 20px;

  }

  &__item {
    img {
      width: 100%;

      &:hover {
        transition: 1s all;
        transform: scale(1.01);
        filter: grayscale(50%);
      }
    }
  }


  .carousel {

    user-select: none;
    transition: opacity 1s linear;
    position: relative;
    height: 30rem;
    width: 100%;
    @include appear-animation;

    &__wrapper {
      position: absolute;

      left: 0;
      top: 0;
      margin-top: 10px;
      width: 100%;

    }

    &__arrows {
      outline: none;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      height: 80px;
    }

    &__arrow {
      height: 80px;
      width: 40px;
      margin: 20px;

      :hover {
        cursor: pointer;
      }
    }

    &__item {
      top: 0;
      height: 30rem;
      width: 100%;
    }

  }
}